**reset{
    padding:0;
    margin:0;
    box-sizing: border-box;
    }
    
    a{
        color: inherit;
        text-decoration: none;
    }
ol,li,ul{
    list-style: none;
}

:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
}
header{
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: left;
    display: flex;
    height: 5vh;
    width: 100vw;
    font-size: 32px;
}
header span{
    color:#8E4106;
}
header img {
    height: 48px;
    width: 48px;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    font-family: righteous, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 1080px;
}

.texto-secundario{
    color: #8E4106;
    display: flex;
    width: 630px;
    height: 150px;
    flex-direction: column;
    transform: translateY(300px);
}
h2{
    font-size: 64px;
}
p{
    text-align: justify;
    width: 500px;
    font-size: 20px;
}


.botao-download{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    background-color:#8E4106;
    width: 400px;
    height: 100px;
    font-size: 48px;
    transform: translateY(450px);
}

.pikachu{
    width: 560px;
    height: 540px;
    display: flex;

    position: absolute;
    z-index: -1;
}

.main-text{
    z-index: -2;
    position: absolute;
    font-size: 300px;
    display: flex;
    color:white;
    transform: translateY(-100px);
}
.sombra{
    font-size: 400px;
    position: absolute;
    display: flex;
    z-index: -3;
    opacity: 20%;
    color: white;
    transform: translateY(-200px);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E4106;
    font-size: 16px;
}
